.card{
    padding: 15px; 
    width: 75%;
    margin: 15px;
    color: white;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: scale(1.05); /* Grows by 5% */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.overview{
    text-align: center;
}

.year{
    text-align: start;
}
a{
    text-decoration: none;
    color: white;
}


