.home-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77vh;
    flex-direction: column;
    text-align: center;
}



h1{
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
}