.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

button{
    color: white;
    background-color: black;
    padding: 15px; 
    margin: 15px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.footer{
    border: black solid 1px;
    background-color: black;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    
}

.horizontal-center{
    display: flex;
    flex-direction: column;
}

.sc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


