.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main-content {
    flex: 1; /* This takes up all available space, pushing footer down */
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 70vh;
}

button{
    color: white;
    background-color: black;
    padding: 10px; 
    margin: 15px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.footer{
    border: black solid 1px;
    background-color: black;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
   
}

.horizontal-center{
    display: flex;
    flex-direction: column;
}

.sc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.spinner {
    width: 75px;
    height: 75px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76vh;
}
.icon{
    height: 70px;
}
.search-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-icon{
    filter:invert(1);
    height: 15px;
    width: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
