.s-card{
    color: white;
    background-color: black;

    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border-radius: 20px;
}
p, h2{
    text-align: center;
}
.no-streaming-info-found > p{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}